<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="aplicacion">
        <h1>Listado de nombres</h1>
        <ol>
            <li v-for="nombre in nombres">{{nombre}}</li>
        </ol>
        <p>Nuevo nombre <input type="text" v-on:keyup.enter="actualizarLista" v-model="nombre" placeholder="Enter para actualizar" ></p>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var app = new Vue({
            el:'#aplicacion',
            data:{
                nombre:'',
                nombres: []
            },
            methods:{
                actualizarLista: function(){
                    this.nombres.push(this.nombre);
                    this.nombre='';
                }
            }
        })
    </script>
    
</body>
</html>